/* GRID */
/**********************/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after {
  content: "";
  display: table;
}

.line {
  zoom: 1
}
.line:before,
.line:after {
  content: " ";
  display: table
}
.line:after {
  clear: both
}
.group,
.lastGroup,
.lastUnit,
.unit {
  overflow: hidden;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  float: left
}

.lastUnit,
.unit {
  padding-left: 15px;
  padding-right: 15px
}
.lastUnit,
.lastGroup {
  float: none;
  width: auto
}
.size8of8 {
  width: 100%
}
.size7of8 {
  width: 87.5%
}
.size6of8 {
  width: 75%
}
.size5of8 {
  width: 62.5%
}
.size4of8 {
  width: 50%
}
.size3of8 {
  width: 37.5%
}
.size2of8 {
  width: 25%
}
.size1of8 {
  width: 12.5%
}
.size4of4 {
  width: 100%
}
.size3of4 {
  width: 75%
}
.size2of4 {
  width: 50%
}
.size1of4 {
  width: 25%
}
.size2of2 {
  width: 100%
}
.size1of2 {
  width: 50%
}
.size3of3 {
  width: 100%
}
.size2of3 {
  width: 66.66666667%
}
.size1of3 {
  width: 33.33333333%
}
.size1of1 {
  width: 100%
}

@media screen and (max-width: 960px) {
  .size1of2,
  .size1of3,
  .size1of4,
  .size2of3,
  .size2of4,
  .size3of4,
  .size3of8,
  .size4of8,
  .size5of8,
  .size7of8 {
    width: 100%
  }
  .size1of8 {
    width: 50%
  }
  .size1of2.nochange {
    width: 50%
  }
  .size1of3.nochange {
    width: 33.33333333%
  }
}
@media screen and (max-width: 640px) {
  .unit,
  .group {
    float: none;
    display: block
  }
  .nochange {
    float: left
  }
  .size2of8,
  .size6of8 {
    width: 100%
  }
}